* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  height: 40%;
  margin: auto;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 1rem;
}

.App {
  height: 100vh;
  background-color: aqua;
  display: flex;
  align-items: center;
}

.border {
  border:solid 1px black;
}

@media (min-width: 768px) { 
  .container {
    width: 40%;
    margin: auto;
  }
}

.container-quote {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;
}

button {
  padding: .7rem;
  color: white;
  border: none;
}

.container-button {
  display: flex;
  justify-content: space-between;
}

.font-size-x {
  font-size: 1.2rem;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}